.center {
  width: 450px;
  height: 950px;
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  background-image: url('./src/assets/99px_ru_animacii_40833_sozvezdija_na_nochnom_nebe.gif');
  /* background-image: url('./src/99px_ru_animacii_42339_galaktika_vrashaetsja_v_pustote.gif'); */
    /* background-image: url('./src/99px_ru_animacii_43451_na_skalistom_beregu_morja_paren_sidja_na_motocikle.gif'); */
  object-fit: cover;
}

.res {
    display: flex;
    flex-direction: column;
    align-items: center;
}
